{{ template "chart.header" . }}
{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

## Installing the Chart

To install the draftt-explorer chart:

    helm install draftt-explorer draftt-io/draftt-explorer

To uninstall the chart:

    helm uninstall draftt-explorer

{{ template "chart.valuesSection" . }}