{{ template "chart.header" . }}
{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

## Installing the Chart

To install the draftt-port-integration chart:

    helm install draftt-port-integration draftt-io/draftt-port-integration

To uninstall the chart:

    helm uninstall draftt-port-integration

{{ template "chart.valuesSection" . }}